<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <material name="grey">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1.0"/>
  </material>
  <xacro:macro name="cylinder_inertia" params="m r h xyz rpy">
    <inertial>
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <mass value="${m}"/>
      <inertia  ixx="${m*(3*r*r+h*h)/12}" ixy = "0" ixz = "0"
                iyy="${m*(3*r*r+h*h)/12}" iyz = "0"
                izz="${m*r*r/2}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="cuboid_inertia" params="m d w h xyz rpy">
    <inertial>
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <mass value="${m}"/>
      <inertia  ixx="${(m/12) * (h*h + d*d)}" ixy="0.0" ixz="0.0"
                iyy="${(m/12) * (w*w + d*d)}" iyz="0.0"
                izz="${(m/12) * (w*w + h*h)}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="cuboid_link" params="name m x y z xyz rpy">
    <link name="${name}">
      <xacro:cuboid_inertia m="${m}" d="${x}" w="${y}" h="${z}" xyz="0 0 0" rpy="0 0 0"/>
      <visual>
        <origin xyz="${xyz}" rpy="${rpy}" />
        <geometry>
          <box size="${x} ${y} ${z}" />
        </geometry>
        <material name="grey" />
      </visual>
      <collision>
        <origin xyz="${xyz}" rpy="${rpy}" />
        <geometry>
          <box size="${x} ${y} ${z}" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>

  <xacro:macro name="cylinder_link" params="name m height radius xyz rpy color:=black">
    <link name="${name}">
      <xacro:cylinder_inertia m="${m}" r="${radius}" h="${height}" xyz="0 0 0" rpy="0 0 0"/>
      <visual>
        <origin xyz="${xyz}" rpy="${rpy}" />
        <geometry>
          <cylinder length="${radius}" radius="${radius}" />
        </geometry>
        <material name="${color}" />
      </visual>
      <collision>
        <origin xyz="${xyz}" rpy="${rpy}" />
        <geometry>
          <cylinder length="${radius}" radius="${radius}" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>

</robot>
