<?xml version="1.0"?>
<robot name="manipulator_6dof" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find manipulator_6dof_description)/urdf/constants.xacro" />
  <xacro:include filename="$(find manipulator_6dof_description)/urdf/macros.xacro" />
  <xacro:include filename="$(find manipulator_6dof_description)/urdf/manipulator.xacro" />
  <xacro:include filename="$(find manipulator_6dof_description)/urdf/ros2_control.xacro" />

  <link name="world"/>
  <xacro:cylinder_link
    name="base_link"
    m="${base_link_mass}"
    hight="${base_link_hight}"
    radius="${base_link_radius}"
    xyz="0 0 0"
    rpy="0 0 0"
    color="grey" />

  <joint name="world_fixed" type="fixed">
    <origin xyz="0 0 ${offset_from_ground_to_base_link}" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

  <link name="gripper_right_mimic_link"/>
  <joint name="gripper_right_mimic" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="gripper_right_mimic_link"/>
  </joint>

</robot>
