<?xml version="1.0"?>
<robot name="open_manipulator" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find open_manipulator_description)/urdf/materials.xacro" />
  <xacro:include filename="$(find open_manipulator_description)/urdf/open_manipulator.xacro" />
  <xacro:include filename="$(find open_manipulator_description)/urdf/ros2_control.xacro" />

  <link name="world"/>
  <link name="base_link">
      <visual>
        <geometry>
          <cylinder length="0.3" radius="0.3"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <cylinder length="0.3" radius="0.3"/>
        </geometry>
      </collision>
   </link>

  <joint name="world_fixed" type="fixed">
    <origin xyz="0 0 0.2" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

   <joint name="based_fixed" type="fixed">
    <origin xyz="0 0 0.16" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="link1"/>
  </joint>
</robot>
